﻿.form-horizontal h3{
    color: #00405d;
    text-transform: capitalize;
}

.form-horizontal h4{
    margin-bottom:50px;
}

.relativeSignInImage {
    position: relative;
}

.signInImage {
    background: url('../images/signIn.jpg')no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

@media (max-width: 1000px) {
    .signInImage {
        width: 100%;
        height: 250px;
        position:unset;
    }
}
