﻿.center {
    text-align: center;
}

.center-page {
    width: 300px;
    margin-left:130px;
}

.container h3{
    color: #00405d;
    text-transform: capitalize;
}

.container h4{
    margin-bottom: 30px;
}

.center-page label{
    font-weight: 400;

}
.relativeSignUpImage {
    position: relative;
}

.signUpImage {
    background: url('../images/signUp.jpg') no-repeat center;
    background-size: 100%;
    position: absolute;
    top: -1px;
    right: -4px;
    width: 50%;
    height: 100%;
}

.signUpImage div{
    width:100%;
    text-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
    background-color:rgba(255, 255, 255, 0.68);
}

.signUpImage {
    font-size: 1.5em;
}

.space-vert {
    margin-top: 20px;
}

.hr-pos {
    position: absolute;
    margin-bottom:0;
    bottom: -480px;
    left: 0;
    right: 0;
}

.footer-pos {
    width: auto;
    height: auto;
    position: absolute;
    top:  1200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media (max-width: 1000px) {
    .signUpImage {
        visibility:hidden;
    }
}