﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="OurStories.aspx.cs" Inherits="OurStories" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div>
        <h1>Our Stories</h1>
        <h3>Surf camp activities:</h3>
        <p>NIH supports research in a wide variety of biomedical research areas, advancing our knowledge of health and disease. NIH is an integral part of a biomedical research ecosystem that includes universities, researchers, private companies, and other government agencies. The knowledge produced by NIH-supported research can take many years and pass through many organizations on its pathway toward improving health. Explore this page to look at a few stories of how NIH has contributed to important biomedical advances, and how these advances have made a difference in our knowledge, our health, and our society.</p>
        <img src="Images/camp.jpg" />
        <h3>Deaf surfers organizations co-ops</h3>
        <p>International Deaf Surfriders Association. 2.4K likes. IDSA would like deaf and hard of hearing surfers to participate for social networking, express...</p>
        <img src="Images/organi.jpg" />

    </div>
</asp:Content>

