﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User.master" AutoEventWireup="true" CodeFile="Press.aspx.cs" Inherits="Press" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div>
        <h1>BoardSeek in Press:</h1>
        <p>Press release - For the second year in a row, SURF is inviting vocational education and training institutions, universities of applied sciences and research universities to nominate changemakers for the SURF Education Awards. Through these awards, SURF recognises the efforts of innovators who use ICT to enhance </p>
        <img src="Images/press.jpg" />


    </div>
</asp:Content>

